.programa{
    width: 70%;
    margin-left: 15%;
}
.programa img{
    margin-left: 10%;
margin-top: 3%;

    transition: all 0.5s;
}
.programa .derecha{
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .programa .izquierda{
    display: grid;
    grid-template-columns: 40% 60%;
  }


.programa .izquierda p , .programa .derecha p{
    margin-top: 2%;
}
.programa img:hover{
    transform: rotate(5deg);
    scale: 1.05;
}