footer {
    width: 100%;
    background-color: #32434a;
    text-align: center;
    padding: 10px 0;
}

footer img {
    width: 150px;
}

footer a, header  #contactanosFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    height: 50px; 
    width: 150px; 
    transition: all 0.5s;
}
footer a:hover:not(.redes), header  #contactanosFooter:hover:not(.redes){
  border-radius: 7px;
  background-color: #ff7913;
}
header  #contactanosFooter, footer #contactanosFooter{
    margin-left: 20%;
    margin-top: 50px;
    margin-top: 20%;
}
.iconos-redes {
    display: flex;
    gap: 15px;
}

.iconos-redes a {
    color: #333;
    transition: color 0.3s;
}

.iconos-redes a:hover {
    color: #ff7913;
}
footer  p{
    margin: 10px;
    font-size: 13px;
    justify-content: center;
    color: white;
}
footer .iconos-redes a{
    margin-top: 4%;
    border: none;
}
footer .iconos-redes a:hover{
    background-color: transparent;
}
hr {
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
    border-radius: 7px;
}