footer {
    width: 100%;
    background-color: #32434a;
    text-align: center;
    padding: 10px 0;
}

footer img {
    width: 150px;
}

footer a, header  #contactanosFooter {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    height: 50px; 
    width: 150px; 
    transition: all 0.5s;
}
footer a:hover, header  #contactanosFooter:hover{
  border-radius: 7px;
  background-color: #ff7913;
}
header  #contactanosFooter{
    margin-left: 20%;
    margin-top: 50px;
}
footer  p{
    margin: 10px;
    font-size: 13px;
    justify-content: center;
    color: white;
}
hr {
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
    border-radius: 7px;
}